build/*
src/autom4te.cache
src/.deps/*
src/.deps
src/autoscan.log
yricsFetcher.xcodeproj/project.xcworkspace/xcuserdata/pingxian.liang.xcuserdatad/WorkspaceSettings.xcsettings
lyricsFetcher.xcodeproj/project.xcworkspace/xcuserdata/pingxian.liang.xcuserdatad/xcdebugger/Expressions.xcexplist
lyricsFetcher.xcodeproj/xcuserdata/pingxian.liang.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
lyricsFetcher.xcodeproj/xcuserdata/pingxian.liang.xcuserdatad/xcschemes/lyricsFetcher.xcscheme
lyricsFetcher.xcodeproj/xcuserdata/pingxian.liang.xcuserdatad/xcschemes/test.xcscheme
lyricsFetcher.xcodeproj/xcuserdata/pingxian.liang.xcuserdatad/xcschemes/xcschememanagement.plist
src/tags
contents.xcworkspacedata
*.swo
*.o
stamp-h1
